.title {
    text-align: center;
    color: white;
}

.jumbotron {
    background-color: navy;
    
}

.fa-newspaper {
    color: white;
    /* z-index: 2; */
}

.form-group {
    width: 80%;
}

/* .articles {
    display: none;
} */